body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url("https://img.freepik.com/premium-vector/line-luxury-gradient-color-minimalist-style-wave_483537-3947.jpg?semt=ais_hybrid");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

.app {
    background: rgb(51, 206, 214);
    width: 90%;
    max-width: 650px;
    justify-self: center;
    margin: 100px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: black;
    text-decoration: underline;
}

.quiz {
    padding: 20px 0;
    text-align: center;
}

.answer-btn {
    background-color: #ffffff;
    color: #222;
    font-weight: 500;
    width: 100%;
    max-width: 300px;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    border-width: 2px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.4s;
    display: block;
}

.Next {
    background-color: #392ab8fe;
    color: #ffffff;
    font-weight: 500;
    width: 100%;
    max-width: 150px;
    border: 1px solid #ffffff;
    padding: 10px;
    margin: 20px auto 0;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.4s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.Next:hover {
    background: #c5bffcfe;
    color: #fee9e9;
}


.restart {
    background-color: #392ab8fe;
    color: #dddddd;
    font-weight: 500;
    width: 100%;
    max-width: 150px;
    border: 1px solid #ffffff;
    padding: 10px;
    margin: 20px auto 0;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.4s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.restart:hover {
    background: #c5bffcfe;
    color: #fee9e9;
}

.answer-btn:hover {
    background: #6b6969;
    color: #cacaca;
}

.answer-btn.selected {
    background: #6b6969;
    color: #ffffff;
    border-color: white;
    font-weight: bold;
}

